@charset="utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html {
    overflow-x: hidden;
}

body {
    width: 1024px;
    margin: auto;
    background-image: url(../pic/bg4.png);
    background-size: 100%;
    font-family: 'Noto Sans Japanese', sans-serif;
    background-attachment: fixed;
    /*背景固定*/
}

h1 {
    font-size: 60px;
    text-shadow: 3px 3px #555;
}

h2 {
    border-bottom: 1px solid #fff;
    font-size: 27px;
    color: #fff;
    padding-left: 10px;
    clear: both;
    margin-bottom: 20px;
    margin-top: 40px
}

h2:before {
    content: url(../pic/mame.png);
    max-width: 20px;
    height: auto;
}

.about {
    margin-top: 30px;
    margin-bottom: 10px
}

header {
    margin-left: -200%;
    margin-right: -200%;
    padding-left: 200%;
    padding-right: 200%;
    margin-top: 0px;
    height: 120px;
    opacity: 0.9;
    background: #444;
}

nav {
    background: rgba(112, 112, 112, 0);
    height: 50px;
    padding: 20px 3px;
    opacity: 0.8;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    background: #ddd;
    list-style: none;
    font-family: 'Markazi Text', serif;
    font-size: 28px;
    opacity: 0.8;
    height: 30px;
    width: 200px;
    padding: 11px 0px;
    text-align: center;
    text-decoration-color: #111;
    border-radius: 30px 0 30px 0;
    transition-duration: 0.2s;
}

nav ul li:hover {
    opacity: 1;
    background: #fff;
    transition-duration: 0.2s;
    cursor: pointer;
}

nav ul li:last-child {
    margin-right: 0px;
}

#top {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(10px 10px 10px #222);
    border-radius: 30px;
}

header h1 {
    font-size: 50px;
    padding-left: 20px;
    padding-top: 10px;
    color: #fff;
    font-family: 'Caveat', serif;
}

main {}

p {
    color: #fff;
    font-size: 16px
}

.table {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table div {
    text-align: center;
    width: 330px;
    color: #fff;
    font-family: 'Noto Sans Japanese', sans-serif;
}

.container {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.second {
    width: 330px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.2s;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 10px #222);
}

.second:hover {
    transform: scale(1.03);
    transition-duration: 0.2s;
    cursor: pointer;
}

.third {
    width: 476px;
    height: 136px;
    filter: drop-shadow(10px 10px 10px #222);
    border-radius: 20px 0px;
    transition-duration: 0.2s;
}

.third:hover {
    transform: scale(1.02);
    transition-duration: 0.2s;
    cursor: pointer;
}


#table2 div {
    text-align: center;
    width: 476px;
    color: #fff;
    font-family: 'Noto Sans Japanese', sans-serif;
}

footer {
    margin-top: 50px;
    height: 150px;
    margin-left: -200%;
    margin-right: -200%;
    padding-left: 200%;
    padding-right: 200%;
    background: #444;
    text-align: center;
    opacity: 0.9;
}

#sns {
    display: flex;
    padding-top: 20px;
}

#sns img {
    max-height: 25px;
    width: auto;
}

img[alt="instagram"] {
    margin-right: 10px;

}

.copy {
    padding-top: 40px;
}
